@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
  scroll-behavior: smooth; 

}
  @font-face {
      font-family: Neue Machina Ultrabold;
      src: url("../Font/PPNeueMachina-InktrapUltrabold.otf");
      font-weight: normal;
      font-style: normal;
    }          
      .Neue_Machina_Ultra_bold{
        font-family: Neue Machina Ultrabold;
      }
      @font-face {
        font-family: Neue Machina;
        src: url("..//Font/NeueMachina-Regular.ttf");
        font-weight: normal;
        font-style: normal;
      }
      .Neue_Machina_normal{
        font-family: Neue Machina;
      }
*{
    font-family: "Raleway", sans-serif;
}
::marker{
  font-size: 12px;
}
img{
  pointer-events: none;
}

.Plus_jakarta_font{
    font-family: "Plus Jakarta Sans", sans-serif;
}
